
    <h1 style='color:green;'><u> Привет, мир, сиречь Hello world! </u> </h1>


    <h1> name = {{ name }} </h1>

    <h1> num01 = {{ num01 }} </h1>


    <h1> one01 = {{ one01 }} </h1>

    <h1> one02 = {{ one02 }} </h1>

    <h1> one03 = {{ one03 }} </h1>

    <hr>
    <a href="http://i.ua"> ссылка в Сибирь </a>

    
    <hr>

<pre><code>
function my_php_demo_snippet(){
    var $test = 'Hello!';
    echo $test;
}
</code></pre>

<pre><code class="python">

def bubu(a,b):
    return a*b


</code></pre>

<hr>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>









