
<style>

   #one {
         color:red;
         background-color: yellow;
   }

   body { background-color: cyan; }
</style>

<body>

<h1> я iframe -2 </h1>
<h1> я iframe -2 </h1>
<hr>
<h1 id=one onclick=myfunc()> нажми же меня </h1>

<script>
     function myfunc(){

          alert(' я алерт из iframe 002 !!! ');
     }



</script>


          <div class="col-xs-4"> 
              <img src="/static/img/cat_01.jpg" alg="котенок" class="img-rounded img-responsive">
          </div>


          <div class="col-xs-4"> 
              <img src="/static/img/cat_01.jpg" alg="котенок" class="img-thumbnail img-responsive">
          </div>




    <script src="/static/js_jquery/jquery-1.12.0.js"></script> 
    <script src="/static/js/bootstrap.js"></script>       


</body>